

body

  {
     background-image: url("images/img1.png");
     background-size: cover;
  }


.box
  {
    background-image: url("images/sunny.png");

    background-size: cover;        
    width:300px;
    height: 450px;
    border: 5px;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
  }

    h1
    {
        font-size:35px;
        margin-left: 70px;
    }
    h2
    {
      font-size: 20px;
      margin-left: 100px;
    }
    h3
    {
      margin: auto 120px;
      font-size: 30px;

    }
    table
      {
        width: 80%;
        margin: auto;
        margin-top: 10%;
        border: 1px solid white;

        
      }
      tr{
        height: 50px;
      }
   
    
      td {
         background-color:cyan;
         text-align: center;
          word-spacing: 50px;
          letter-spacing: 2px;

      }
      td:hover {background-color: #D6EEEE;}

    #nrOfdays
      {
background-color:aquamarine;  
        
      } 
      tr .min_temp
      {
        word-spacing: 80px;
        
      }
      tr .max_temp
      {

        word-spacing: 80px;
      }
      tr .icon
      {

        word-spacing: 100px;
      }
      #date
      { 
        word-spacing: 30px;

      }

      a{
        font-size: 40px;
        color:black;
      }
      
      .box table{
        th{text-align: left;}
        background-image: url("images/sunny.png");
        td{
          background-image: url("images/sunny.png");
        }
        img{size: 2px;}
      }



     

      
    
    



